/*MOVIL*/
.header {
    display: flex;
    justify-content: center; /* coloca el contenido a la izquierda */
    align-items: center;
  }

.top-image{
  width:100%;
  max-width:360px;
  height:auto;
  display:block;
  margin:24px auto 8px;
}



/* TABLET */
@media (min-width: 768px) {
    .landing .header{
      display: flex;
      justify-content: center;
      align-items: center;

    
  }
  .header {
    display: flex;
    justify-content: flex-start; /* coloca el contenido a la izquierda */
    align-items: center;
    padding-left: 40px; /* ajusta según el margen del formulario */
  }

  .top-image {
    margin: 24px 0 8px 0; /* quita el auto centrado */

  }
}

/*DESKTOP */
@media (min-width: 1024px) {
  .header {
    padding-left: 60px; /* más espacio si tu layout es más ancho */
    display:flex;
    align-items: start;
  }


}