/*MOVIL*/
.header {
    display: flex;
    justify-content: center; /* coloca el contenido a la izquierda */
    align-items: center;
    padding-left: 40px; /* ajusta según el margen del formulario */
  }

.top-image{
  width:100%;
  max-width:360px;
  height:auto;
  display:block;
  margin:24px auto 8px;
}


/* TABLET */
@media (min-width: 768px) {


  .top-image {
    margin: 24px 0 8px 0; /* quita el auto centrado */
    max-width: 300px;     /* puedes reducir un poco si lo prefieres */
  }
}

/*DESKTOP */
@media (min-width: 1024px) {
    .header {
    display: flex;
    justify-content: left; /* coloca el contenido a la izquierda */
    align-items: left;
    padding-left: 60px; /* ajusta según el margen del formulario */
  }

  .top-image {
    max-width: 340px;
  }
}