<div class="container">
  <button class="reset-btn"><i class="fas fa-trash"></i> RESET</button>
  <div class="profile-card">
    <div class="card-header">
      <div class="name-role">
        <h2><span class="nombre">Nombre Apellido</span></h2>
        <p class="rol">Front-end developer</p>
      </div>
    </div>
    <img
      src="../public/images/mel-elias-0T8_DJHLBL8-unsplash.jpg"
      alt="Foto de perfil"
      class="profile-img"
    />
    <div class="icons">
      <a href="#"><i class="fas fa-mobile-alt"></i></a>
      <a href="#"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
